#contact {
    background-color: rgb(10, 25, 47);
    background-size: cover;
    padding: 80px 0 60px 0;
}

#contact .box {
    padding: 100px 20px;
    margin-bottom: 50px;
    text-align: center;
    height: 200px;
    width: 300px;
    position: relative;
    background: rgb(23, 42, 69);
}

#contact-section .box {
    background: rgb(23, 42, 69);
}

#contact .icon {
    position: absolute;
    top: -6px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
}

#contact .title {
    padding: 10px 10px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#contact .title a {
    padding: 30px 10px;
    color: #111;
    color: white;
}

#contact .description {
    color: white;
    padding: 5px;
    font-size: 14px;
    line-height: 24px;
}







.footer {
    padding: 15px;
}

ul.resume-list {
    padding-inline-start: 38px;
    border-left: 2px solid;
}

li.resume-list-li {
    padding-left: 75px;
    margin-bottom: 120px;
    ;
}

.resume-list-li-last {
    padding-left: 75px;
}

.resume-list-li-h4 {
    margin-top: 10px;
    font-size: 30px;
}

.resume-list-li-h6 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 40px;
}

p {
    color: rgb(136, 146, 176)
}

a.project-title {
    color: rgb(255, 255, 255);
}

.my-5 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

.helpemail {
    border: 1px solid #64ffda;
    border-radius: 3px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
    line-height: 1;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    display: inline-block;
    text-decoration-skip-ink: auto;
    position: relative;
    box-sizing: inherit;
}

h2 {
    transition-delay: 200ms;
    font-size: 70px;
    line-height: 1.1;
    margin: 0px;
    font-weight: 600;
    color: rgb(204, 214, 246);
    box-sizing: inherit;
    font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
}

h3 {
    color: rgb(204, 214, 246);
    transition-delay: 300ms;
    font-size: 70px;
    line-height: 1.1;
    color: rgb(136, 146, 176);
    font-weight: 600;
    margin: 0px 0px 10px;
    box-sizing: inherit;
    font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
}

.green-text {
    color: rgb(100, 255, 218);
    font-size: 14px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    margin: 0px 0px 20px 3px;
}

body {
    margin: 0px;
    background-color: rgb(10, 25, 47);
}

.middle {
    padding-left: 100px;
    padding-right: 100px;
}

.top-down-50-1 {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
}

.top-down-50-2 {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 0px;
    padding-right: 0px;
}

.div-50-1-p {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
    max-width: 500px;
    box-sizing: inherit;
    color: rgb(136, 146, 176);
    line-height: 1.3;
    font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.about_img {
    min-width: 100%;
    max-height: 280px;
}

.main_heading {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    transition-delay: 200ms;
    font-size: 70px;
    line-height: 1.1;
    margin: 0px;
    font-weight: 100;
    color: rgb(204, 214, 246);
    box-sizing: inherit;
    font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
}

.main_heading p {
    transition-delay: 200ms;
    font-size: 20px;
    line-height: 1.1;
    margin: 0px;
    color: rgb(204, 214, 246);
    box-sizing: inherit;
    font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
}

.navbar-custom {
    background-color: rgb(10, 25, 47);
    transition-delay: 200ms;
    font-size: 20px;
    line-height: 1.1;
    margin: 0px;
    color: rgb(204, 214, 246);
    box-sizing: inherit;
    font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
}

a {
    color: white;
}

.logo_img {
    max-width: 12%;
    max-height: 60px;
}

#services {
    background-color: rgb(10, 25, 47);
    background-size: cover;
    padding: 80px 0 60px 0;
}

#services .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    height: 300px;
    width: 320px;
    position: relative;
    background: rgb(23, 42, 69);
}

#services .icon {
    position: absolute;
    top: -6px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
}

#services .title {
    padding: 30px 10px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#services .title a {
    padding: 30px 10px;
    color: #111;
    color: white;
}

#services .description {
    color: white;
    padding: 5px;
    font-size: 14px;
    line-height: 24px;
}

.progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress.blue .progress-bar {
    border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
    border-color: #fdba04;
}

.progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
}

.progress.pink .progress-bar {
    border-color: #ed687c;
}

.progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.green .progress-bar {
    border-color: #1abc9c;
}

.progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}

